# 操作系统
.DS_Store
*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 缓存和产物
.turbo/
dist/
build/
coverage/
apps/server/tmp/

# 环境变量
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

#figma原型
figma-proto
.claude/settings.local.json
.claude/settings.json
.agents
